<div id="splash_page">
    <h1>SpendSmart</h1>
    <div class="actions">
        <%= link_to  "LOG IN", user_session_path %>
        <%= link_to  "SIGN UP", new_user_registration_path %>
    </div>
</div>