.category-form {
  margin-top: 20px;
}

.category-form form label {
  display: none;
}

.input-container {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 10px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}

.category-form form .input-container input,
.transaction-form form .input-container input {
  width: 100%;
  outline: none;
  border: none;
  padding: 12px 0;
  background-color: inherit;
}

.category-form form .input-container input[name="category[name]"],
.transaction-form form .input-container input[name="entity[name]"] {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.transaction-form form select {
  width: 80%;
  padding: 10px 0;
  overflow-y: visible;
  box-shadow: 0 4px 10px  #908d8d, 0 5px 10px  #908d8d;
  outline: none;
}

.transaction-form .select-cont {
  text-align: center;
}

.transaction-form form select option {
  display: block;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
  cursor: pointer;
}

.transaction-form form select option:nth-child(even) {
  background-color: rgb(239, 239, 239);
}

.transaction-form form select option:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
}

.select-category-title {
  text-align: center;
  font-size: 25px;
  margin: 20px 0 30px;
}
